<footer class="mt-3 font-small">
        <div class="container pt-1 pb-3 text-center text-left bg-dark text-white">
            <div class="row mt-5">
                <div class="row mt-3">
                    <div class="col-md-4 px-5">
                        <h6 class="text-uppercase font-weight-bold mb-4">Memoriae</h6>
                        <p>An online platform to share your memories with people and loose yourself in its wonderful content</p>
                    </div>
                    
                    <div class="col-md-4">
                        <h6 class="text-uppercase font-weight-bold mb-4">Useful links</h6>
                        <p><a href="/dashboard">Dashboard</a></p>
                        <p><a href="/stories">All Posts</a></p>
                        <p><a href="/auth/logout">Logout</a></p>
                    </div>
                    <div class="col-md-4">
                        <h6 class="text-uppercase font-weight-bold mb-4">Contact</h6>
                        <p><i class="fas fa-home mr-3"></i> KJC, BLR 560043, KA</p>
                        <p><i class="fas fa-envelope mr-3"></i> memoriae@gmail.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + +91 9876543210</p>
                    </div>
                    
                </div>

                <div class="col footer-copyright text-center mt-4">
                    <hr style="background-color:rgb(192, 192, 192)">
                    <strong>© 2020 Copyright <a href="#"> Memoriae.</a></strong>
                </div>
            </div>
        </div>
        
    </footer>