<div class="pt-3">
    <div class="container header">
        <div class="row justify-content-center py-5">
            <div class="col-12 text-center">
                <h1 class="logotext"><strong>Memoriae.</strong></h1> 
            </div>
            <div class="col-12 text-center">
                <small class="text-muted">Your online platform to share memories</small>
            </div>
            
        </div>
        <div class="row justify-content-center pb-5">

            <a class="nav-link text-main" href="/dashboard"><i class="pr-2 fas fa-book-reader"></i><strong>Dashboard</strong></a>
            <a class="nav-link text-main" href="/stories"><i class="pr-2 fas fa-quote-left"></i><strong>Memories</strong></a>
            <a class="nav-link text-main" href="/auth/logout"><i class="pr-2 fas fa-sign-out-alt"></i><strong>Logout</strong></a>

        </div>   
    </div>
</div>