<div class="row">
    <div class="col">
        <div class="my-3">
            <h5>Admin Dashboard</h5>
        </div>
        <h4><strong>Greetings Admin</strong></h4>
        <hr>
    </div>
</div>

<div class="row my-4 px-4">
    <form action="/news/createNews" class="col" method="POST">
        <div class="row">
            <h5><i class="fas fa-newspaper pr-2"></i>Do you want to post any news updates for today</h5>
            <input type="text" class="mx-4" name="news" id="news" required>
            <input type="submit" value="SUBMIT" class="btn btn-sm btn-outline-dark">
        </div>  
    </form>
</div>

<div class="row pt-5 my-4 px-4">
    <div class="col">
        Most reported story : 
    </div>
    <div class="col">
        Most liked story: 
    </div>
</div>

<div class="row pt-5 my-4 px-4 justify-content-center">
    <span class="mx-5 text-center admindash-header">
        <a>No. of Posts in the system <h1 class="admindash-number"><strong>{{storyCount}}</strong></h1> </a>
    </span>
    <span class="mx-5 text-center admindash-header">
        <a>No. of Users in the system <h1 class="admindash-number"><strong>{{usersCount}}</strong></h1> </a>
    </span>
</div>

