body {
    background: url('../img/login-bg.svg') no-repeat;
    background-size: cover;
    height: 100%;
}

.text-input {
    width: 250px;
    border-radius: 0;
}

.vector-img {
    position: absolute;
    padding-left: 5%;
    top: 2%;

}

.btn-login {
    width: 250px;
}
.btn {
    border-radius: 0;
}
