<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<h1>Oops!</h1>
		</div>
		<h2>There is a problem</h2>
		{{#each errors as |item|}}
		<p>{{item}}</p>
		{{/each}}
		<a class="btn btn-warning btn-login" href="/users/register">
			<strong>Go Back</strong>
		</a>
	</div>
</div>