<h1 class="text-muted">Password Error</h1>
<p>Make sure the <strong>passwords match</strong>  and they are at least <strong>six characters long</strong></p>
<a href="/users/register" class="btn">Go Back</a>